Server/Website and Service/AdminSite/Web References/localhost/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFeedback">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Feedback" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFeedbackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendFeedbackResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRegisteredLMIFE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRegisteredLMIFEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsRegisteredLMIFEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePCCreds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PCName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SpecificLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SpecificPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePCCredsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SavePCCredsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPCCreds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PCName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPCCredsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPCCredsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSystemCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TheCommand" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSystemCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSystemCommandResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegInfoForLMIFE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegInfoForLMIFEResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SendFeedbackSoapIn">
    <wsdl:part name="parameters" element="tns:SendFeedback" />
  </wsdl:message>
  <wsdl:message name="SendFeedbackSoapOut">
    <wsdl:part name="parameters" element="tns:SendFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="IsRegisteredLMIFESoapIn">
    <wsdl:part name="parameters" element="tns:IsRegisteredLMIFE" />
  </wsdl:message>
  <wsdl:message name="IsRegisteredLMIFESoapOut">
    <wsdl:part name="parameters" element="tns:IsRegisteredLMIFEResponse" />
  </wsdl:message>
  <wsdl:message name="SavePCCredsSoapIn">
    <wsdl:part name="parameters" element="tns:SavePCCreds" />
  </wsdl:message>
  <wsdl:message name="SavePCCredsSoapOut">
    <wsdl:part name="parameters" element="tns:SavePCCredsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPCCredsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPCCreds" />
  </wsdl:message>
  <wsdl:message name="GetPCCredsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPCCredsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSystemCommandSoapIn">
    <wsdl:part name="parameters" element="tns:SendSystemCommand" />
  </wsdl:message>
  <wsdl:message name="SendSystemCommandSoapOut">
    <wsdl:part name="parameters" element="tns:SendSystemCommandResponse" />
  </wsdl:message>
  <wsdl:message name="GetRegInfoForLMIFESoapIn">
    <wsdl:part name="parameters" element="tns:GetRegInfoForLMIFE" />
  </wsdl:message>
  <wsdl:message name="GetRegInfoForLMIFESoapOut">
    <wsdl:part name="parameters" element="tns:GetRegInfoForLMIFEResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendFeedback">
      <wsdl:input message="tns:SendFeedbackSoapIn" />
      <wsdl:output message="tns:SendFeedbackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsRegisteredLMIFE">
      <wsdl:input message="tns:IsRegisteredLMIFESoapIn" />
      <wsdl:output message="tns:IsRegisteredLMIFESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePCCreds">
      <wsdl:input message="tns:SavePCCredsSoapIn" />
      <wsdl:output message="tns:SavePCCredsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPCCreds">
      <wsdl:input message="tns:GetPCCredsSoapIn" />
      <wsdl:output message="tns:GetPCCredsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSystemCommand">
      <wsdl:input message="tns:SendSystemCommandSoapIn" />
      <wsdl:output message="tns:SendSystemCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRegInfoForLMIFE">
      <wsdl:input message="tns:GetRegInfoForLMIFESoapIn" />
      <wsdl:output message="tns:GetRegInfoForLMIFESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFeedback">
      <soap:operation soapAction="http://tempuri.org/SendFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRegisteredLMIFE">
      <soap:operation soapAction="http://tempuri.org/IsRegisteredLMIFE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePCCreds">
      <soap:operation soapAction="http://tempuri.org/SavePCCreds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPCCreds">
      <soap:operation soapAction="http://tempuri.org/GetPCCreds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSystemCommand">
      <soap:operation soapAction="http://tempuri.org/SendSystemCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegInfoForLMIFE">
      <soap:operation soapAction="http://tempuri.org/GetRegInfoForLMIFE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFeedback">
      <soap12:operation soapAction="http://tempuri.org/SendFeedback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRegisteredLMIFE">
      <soap12:operation soapAction="http://tempuri.org/IsRegisteredLMIFE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePCCreds">
      <soap12:operation soapAction="http://tempuri.org/SavePCCreds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPCCreds">
      <soap12:operation soapAction="http://tempuri.org/GetPCCreds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSystemCommand">
      <soap12:operation soapAction="http://tempuri.org/SendSystemCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegInfoForLMIFE">
      <soap12:operation soapAction="http://tempuri.org/GetRegInfoForLMIFE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:56905/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:56905/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>